@import url('https://fonts.googleapis.com/css2?family=Besley:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,500&family=Nunito:wght@300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500&family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {

    --color-131921: #131921;
    --color-3b4149: #3b4149;
    --color-febd69: #febd69;
    --color-232f3e: #232f3e;
    --color-bf4000: #bf4800;
    --color-f5f5f7: #f5f5f7;
    --color-ededed: #ededed;
    --color-777777: #777777;
    --color-1c1c1b: #1c1c1b;
    --transition: all .3s ease-in;
    --box-shadow: 0 0 10px #0000001a;

}

a {

    text-decoration: none;
}

.card-wrapper {

    background-color: white;
    box-shadow: var(--box-shadow);
    padding: 15px;
}

.section-heading {


    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 30px;

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

a {

    text-decoration: none;
    display: inline-block;
}

.form-control:focus {

    box-shadow: none;
    border-color: inherit;
}

.gap-5 {

    gap: 5px;
}

.gap-10 {

    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-30 {
    gap: 30px
}

.input-group-text {

    cursor: pointer;
}

.button {
    color: #fff;
    background-color: var(--color-232f3e);
    font-size: 14px;
    padding: 13px 33px;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);

}

.button:hover {
    color: var(--color-131921);
    background-color: var(--color-febd69);



}

/* header style start*/

.header-top-strip {
    border-bottom: 1px solid var(--color-3b4149);
    background-color: var(--color-131921);
}

.header-upper {
    background-color: var(--color-131921);
}

.header-upper .input-group-text {
    background-color: var(--color-febd69);
}

.header-upper.header-upper-links img {
    width: 35px;
    height: 35px;


}

.header-upper-links {

    font-size: 10px;

}



.header-bottom {

    background-color: var(--color-232f3e);
}

.header-bottom .menu-links a, .header-bottom .dropdown button {

    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: .3;
    text-transform: uppercase;
}

.header-bottom .dropdown button::before {

    contain: url('../public/images/menu.svg');
}

.header-bottom .dropdown button:focus {
    box-shadow: none;

}

.header-bottom .dropdown-menu {

    background-color: var(--color-131921);
    width: 100%;
    transform: translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item {
    padding: 20px;
    margin-bottom: 3px;
    border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .dropdown-item:hover {
    background-color: transparent;
    color: var(--color-febd69) !important;
}

/* header style end*/





/* home style start*/
.home-wrapper-1 {

    padding-bottom: 2rem;
}

.main-banner-content {
    top: 15%;
    left: 5%;
}



.main-banner-content h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-bf4000);
    margin: 0 0 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.main-banner-content h5 {

    font-size: 42px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -2px;
    text-transform: none;
}

.main-banner-content p {
    font-size: 18px;
    line-height: 28px;
    color: var(--color-131921);
    letter-spacing: 0.4;

}

.small-banner-content {
    top: 7%;
    left: 7%;
}

.home-wrapper-1 .row {
    width: 100%;
}

.small-banner-content .button {
    margin-top: -.2rem;

}

.right {

    width: 50%;
}

.small-banner-content h4 {

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-bf4000);
    margin: 0 0 5px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.small-banner-content h5 {

    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -2px;
    text-transform: none;
}

.small-banner-content p {
    font-size: 14px;
    line-height: 20px;
    color: var(--color-131921);


}


.left {

    width: 50% !important;
    margin-left: -2rem;
    margin-right: 2rem;
    margin-top: -5rem;

}

.small-banner {

    width: 48%;
}

/* home style end*/


/* home wrapper 2 style start */

.home-wrapper-2 {
    background-color: var(--color-f5f5f7);
    padding: 2rem 0;
}

.categories {
    background-color: white;
    box-shadow: var(--box-shadow);
    padding: 15px;

}

.categories>div {
    width: 25%;
    padding: 10px 10px 10px 20px;


}

.categories>div>div {
    width: 60%;



}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4) {

    border-bottom: 1px solid var(--color-ededed);

}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3) {

    border-right: 1px solid var(--color-ededed);

}

.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7) {

    border-right: 1px solid var(--color-ededed);

}




/* home wrapper 2 style end */

/* blog part start */

.blog-card {
    background-color: #fff;

    border-radius: 10px;
}

.blog-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog-content {

    padding: 15px;

}

.blog-content.date {

    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--color-777777);
    padding: 0;


}

.blog-content h5 {

    font-size: 18px;
    color: var(--color-131921);

}

.blog-content p.desc {
    font-size: 13px;
    line-height: 22px;
    color: var(--color-777777);

}

/* blog part end */

/* product cart start*/
.productCard {

    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: var(--transition);

}

.productCard:hover .actionBar {

    right: 30px;
}

.productCard .productImage {
    transition: var(--transition);
    height: 270px;

}

.productCard .productImage img {
    object-fit: contain;
    transition: var(--transition);

}

.productCard .productImage>img:last-child {

    display: none;
    transition: var(--transition);


}

.productCard:hover .productImage>img:nth-child(1) {
    transition: var(--transition);

    display: none;
}

.productCard:hover .productImage>img:last-child {
    transition: var(--transition);

    display: block;
}

.productCard .productDetails h6 {
    color: var(--color-bf4000);
    font-size: 13px;
}

.productCard .productDetails h5 {
    color: var(--color-1c1c1b);
    font-size: 15px;
}

.productCard .productDetails p.price {

    font-size: 16px;
    color: var(--color-1c1c1b) !important;
}

.actionBar {

    top: 16%;
    right: -23px;
    transition: var(--transition);

}

.wishListIcon {
    top: 3%;
    right: 30px;
    transition: var(--transition);
}

/* product cart end*/



/* special product card start*/

.special-product-card {

    padding: 20px 10px;
    border-radius: 10px;
    background-color: #fff;

}

.special-product-card .badge {

    background-color: #fc353c !important;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin-top: -.5rem;

}


/* special product card end*/


/* famous card start*/
.famous-card {
    border-radius: 10px;

}

.famous-card img {
    border-radius: 10px;


}

.famous-card .famous-content {
    top: 10%;
    left: 5%;
}

.famous-content h5 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 7px;
    color: #fff;
    text-transform: uppercase;

}

.famous-content h6 {
    font-size: 28px;
    line-height: 38px;
    font-weight: 500;
    color: #fff;



}

.famous-content p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
    color: #fff;
}

/* famous card end*/

/* ourStore section start*/

.filter-card {
    background-color: #fff;

    border-radius: 10px;
    padding: 10px 15px;

}

.filter-card ul, .filter-card .form-check-label {
    list-style-type: none;
    font-size: 13px;
    line-height: 30px;
    color: var(--color-777777);
    cursor: pointer;

}

.filter-card .form-check-input:checked {

    background-color: var(--color-febd69);
    border-color: var(--color-febd69);
}

.filter-card .form-check-input:focus {

    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.25);
}

.filter-title {

    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 20px;

}

.sub-title {

    font-size: 14px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 15px;
}



/* ourStore section end*/



/* footer style start*/
footer {
    color: #fff;
    background-color: var(--color-232f3e);

}

footer.top {
    margin-top: 2rem;
}

footer:not(:first-child) {
    border-top: 1px solid var(--color-3b4149)
}

footer .input-group-text {
    background-color: var(--color-232f3e);
    color: #fff;
    padding: 8px 17px;

}


/* footer style end*/